<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Synchronized Slider</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
</head>
<body>
    <a href="http://localhost:5000/register"style="float: right;"> <button>register</button></a>
	<form style="text-align: center" method="GET" action="http://localhost:5000/startExam" >
        <input type="text" name="username" placeholder="Enter Your Username">
        <button  type='submit' id="startExam" >start</button>
    </form>
</body>
</html>