<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form style="text-align: center" method="GET" action="http://localhost:5000/save_register" >
        <input type="text" name="username" placeholder="Enter Your Username">
        <div><input type="file" name="image_file" id="image_file" /></div>
        <button  type='submit' >done</button>
    </form>
</body>
</html>